[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/Nor-s/assimp.git
	branch = fix_fbx_export
[submodule "external/ImFileDialog"]
	path = external/ImFileDialog
	url = https://github.com/dfranx/ImFileDialog.git
[submodule "extern/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/cpython"]
	path = external/cpython
	url = https://github.com/python/cpython.git
	branch = 3.7
[submodule "external/ROMP"]
	path = external/ROMP
	url = https://github.com/Arthur151/ROMP.git
