[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/Nor-s/assimp.git
[submodule "mediapipe-to-mixamo"]
	path = mediapipe-to-mixamo
	url = https://github.com/Nor-s/mediapipe-to-mixamo.git
[submodule "external/ImFileDialog"]
	path = external/ImFileDialog
	url = https://github.com/dfranx/ImFileDialog.git
